/* universal selector (*) */
/* tag selector */
/* id selector */
/* class selector */
/* atribute selector */

* {
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

.heading2 {
  color: yellow;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

#heading1 {
  color: yellow !important;
}

.heading1 {
  color: cornflowerblue;
}

[href='https://www.youtube.com/']
{
  color: rgb(255, 217, 0);
  font-size: 100px;
}

.pera-top {
  font-size: 20px;
  text-align: justify;
}




/* Descendant combinator (space)
Child combinator (>)
Next sibling combinator (+)
Subsequent-sibling combinator (~) */

/* .combinator li{
  color: blue;
  font-size: 30px;
} */

/* .combinator > h1,p,.second-child{
  color: blue;
  font-size: 30px;
} */

/* .second-child ~ p,ul {
  color: blue;
  font-size: 30px;
} */
